* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  padding: 5px;
  width: 180px;
  border-color: grey;
  color: grey;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
}

.wrapper {
  padding: 10px;
}

.exchange-wrapper {
  display: flex;
  justify-content: center;
}